<div class="main">
  <div class="container">
    <div class="title">
      <h2>GERADOR DE CHAVES DA COPA</h2>
    </div>

    <div class="chaves">
      <chave [events]="eventsSubject.asObservable()" [timesValues]="timesValue" (sendKeys)="adicionarTime($event)" [chave]="'A'"></chave>

      <chave [events]="eventsSubject.asObservable()" [timesValues]="timesValue" (sendKeys)="adicionarTime($event)" [chave]="'B'"></chave>

      <chave [events]="eventsSubject.asObservable()" [timesValues]="timesValue" (sendKeys)="adicionarTime($event)" [chave]="'C'"></chave>

      <chave [events]="eventsSubject.asObservable()" [timesValues]="timesValue" (sendKeys)="adicionarTime($event)" [chave]="'D'"></chave>
    </div>

    <div class="botao">
      <button (click)="gerar()">
        Gerar
      </button>
    </div>

    <div class="chaves">
      <chave [events]="eventsSubject.asObservable()" [timesValues]="timesValue" (sendKeys)="adicionarTime($event)" [chave]="'E'"></chave>

      <chave [events]="eventsSubject.asObservable()" [timesValues]="timesValue" (sendKeys)="adicionarTime($event)" [chave]="'F'"></chave>

      <chave [events]="eventsSubject.asObservable()" [timesValues]="timesValue" (sendKeys)="adicionarTime($event)" [chave]="'G'"></chave>

      <chave [events]="eventsSubject.asObservable()" [timesValues]="timesValue" (sendKeys)="adicionarTime($event)" [chave]="'H'"></chave>
    </div>
  </div>
</div>


<!--src\app\app.component.html-->
<h1>
  Angular + WebSockets
</h1>
<br>
<div class="row">
  <div class="column">
    <textarea name="contentInput" cols="40" rows="5"></textarea>
    <br>
    <button (click)="sendMsg()">Send Message</button>
  </div>

</div>
<br>
<div>
  <h1>Sent Messages</h1>
  <br>
  <ul>
    <li *ngFor="let item of sent">Source: {{item.source}} -> Content {{item.content}}</li>
  </ul>
</div>

<br>
<div>
  <h1>Received Messages</h1>
  <br>
  <ul>
    <li *ngFor="let item of received">Source: {{item.source}} -> Content {{item.content}}</li>
  </ul>
</div>
