<div class="main">
  <div class="container">
    <div class="title">
      <h2>GERADOR DE CHAVES DA COPA</h2>
    </div>

    <div class="chaves">
      <chave [events]="eventsSubject.asObservable()" [timesValues]="timesValue" (sendKeys)="adicionarTime($event)" [chave]="'A'"></chave>

      <chave [events]="eventsSubject.asObservable()" [timesValues]="timesValue" (sendKeys)="adicionarTime($event)" [chave]="'B'"></chave>

      <chave [events]="eventsSubject.asObservable()" [timesValues]="timesValue" (sendKeys)="adicionarTime($event)" [chave]="'C'"></chave>

      <chave [events]="eventsSubject.asObservable()" [timesValues]="timesValue" (sendKeys)="adicionarTime($event)" [chave]="'D'"></chave>
    </div>

    <div class="botao">
      <button (click)="gerar()">
        Gerar
      </button>
    </div>

    <div class="chaves">
      <chave [events]="eventsSubject.asObservable()" [timesValues]="timesValue" (sendKeys)="adicionarTime($event)" [chave]="'E'"></chave>

      <chave [events]="eventsSubject.asObservable()" [timesValues]="timesValue" (sendKeys)="adicionarTime($event)" [chave]="'F'"></chave>

      <chave [events]="eventsSubject.asObservable()" [timesValues]="timesValue" (sendKeys)="adicionarTime($event)" [chave]="'G'"></chave>

      <chave [events]="eventsSubject.asObservable()" [timesValues]="timesValue" (sendKeys)="adicionarTime($event)" [chave]="'H'"></chave>
    </div>
  </div>
</div>
