.title {
  h2 {
    color: white;
    font-weight: bold;
    background-color: #255bd8;
    display: block;
    max-width: max-content;
    padding: 5px 40px;
    border-radius: 13px;
  }
}

.chave {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex:   1;
  max-width: 100%;
  padding: 10px 25px;
  background-color: white;
  border: 4px solid #E3FF21;
  border-radius: 10px;

  h3 {
    border-bottom: 4px solid #E3FF21 !important;
    padding-bottom: 10px;
  }

  .inputs {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    width: 100%;

    input, select {
      border: 3px solid #E3FF21;
      border-radius: 4px;
      background-color: white;
      padding: 10px 5px;
      margin: 5px 5px;
      width: 100%;
    }

    .time {
      flex: 0 0 60%;
    }
    .forca {
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
}
